COMPOSE_PROJECT_NAME="its"

# Pointer to the root directory to be mounted in all containers as /home/
USER_BASE_FOLDER='./sample_user_base_folder'

# Pointer to the config base folder. Path must be relative to USER_BASE_FOLDER
CONFIG_PATH=config

# PYTHONPATH within the container
PYTHONPATH='/home' # list of paths, separated by ':'

# NodeJS exposed ports
NODEJS_EXPOSED_PORTS=3000-3100

# PostgreSQL service configuration
POSTGRESQL_EXPOSED_PORT=5432 # service available at localhost:<THIS_PORT>

# PGAdmin service configuration
PGADMIN_EXPOSED_PORT=8000 # service available at localhost:<THIS_PORT>